@use '_variables' as *;

div .footer {
  position: block;
  bottom: 0;
  width: 100%;
  background: $primary-color;
  margin-top: auto;

  & h6 {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 3px;
  }
}

.footer a,
p {
  color: white;
  font-size: 12px;
  line-height: 4px;
  text-align: left;
}

.footer2 {
  // background: $blue-dark-color;
  width: 100%;
  padding: 10px;
}