@use '../styles/_variables' as *;

.landing-container-fluid {
  margin: 0 auto;
}

.bg1img {
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 70;
  width: 72%;
  height: 105vh;
  margin-top: -150px;
  border-radius: 0px 0px 60px 0px;
}

.bg2 {
  margin-top: -250px;
  margin-left: -225px;
  position: absolute;
  left: 0;
  z-index: 70;
  left: 0;
}

.middle.container.fluid {
  background: red;
  width: 100%;
  height: 500px;
}

.home-container {
  background-color: $light-color;
}

.img1 {
  z-index: 90;
  margin-top: 250px;
  margin-bottom: 70px;
  margin-left: 160px;
}

.banner__title {
  margin-left: 0px;
  margin-top: 140px;
  color: $primary-color;
  z-index: 90;
  color: $bg-color;

  & p {
    color: $bg-color;
    z-index: 90;
    line-height: 30px;
    font-size: 24px;
  }
}

.btn {
  background: $blue-dark-color;
  z-index: 90;
  width: fit-content;
  text-align: center;
  color: $light-color;
  border-radius: 50px;
}

.btn2 {
  background: $blue-dark-color;
  z-index: 90;
  width: fit-content;
  text-align: center;
  color: $light-color;
  border-radius: 10px;
  border: 0px;
}

.search {
  display: flex;
  width: 100%;
  z-index: 100;
  padding: 20px;
  justify-content: space-around;
  justify-items: center;
  background: $bg-color;
  box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
  border-radius: 20px;

  & .search1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    .search2 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .search input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
  }
}

.btn2 {
  margin-left: 10px;
  padding: 10px;
}

.safe {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .safe-text {
    margin: 50px auto;
    padding: 20px;
    background: $bg-color;
    box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
    border-radius: 20px;
    color: $text-color;
  }

  h3 {
    color: $text-color;
    text-align: center;
  }

  h5 {
    color: $text-color;
    text-align: center;
  }
}

.bg4-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 510px;
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 100px;

  & h3 {
    color: $bg-color;
    margin-top: 50px;
  }
  .nav-link button.btn {
    text-align: center;
  }
}

.safe {
  justify-content: center;
  justify-items: center;
}

.safe-text {
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

// SEGURIDAD TEXTO
.safe-text.container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  // margin-top: 100px;
}

.icons.container {
  margin-bottom: 100px;
}

// THREE STEPS
.three-steps h5 {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

// CONTACT
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  & h3 {
    color: $primary-color;
    font-size: 24px;
  }

  & h5 {
    color: $text-color;
    font-size: 18px;
  }

  & .contact.form.safe-text.container {
    box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
    border-radius: 10px;
  }

  & .inputs-container {
    // padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;

    & label {
      display: block;
    }
  }

  & .form-control {
    display: flex;
    flex-direction: column;
  }

  & .text-container textarea {
    background: #f8f9fd;
    min-height: 14vh;
  }

  & .btn {
    background: $primary-color;
    margin-top: 10px;
    float: right;
    margin-right: -30px;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
  }
}

// RESPONSIVE
@media (max-width: "400px") {
  .navbar {
    width: 100%;
  }

  .bg1img {
    width: 100%;
    height: 650px;
    border-radius: 0px;
    padding-right: 10px;
    margin-top: -150px;
  }

  .img1 {
    display: none;
    // width: 100px;
    // margin: 0px;
    // text-align: center;
  }

  .banner__title {
    margin-top: 0px;
    text-align: right;
  }

  .banner__title h1 {
    font-size: 28px;
  }

  .banner__title p {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
  }

  .banner__title .btn {
    float: right;
    margin-top: -20px;
  }

  .article {
    display: flex;
    margin-top: 60px;
  }

  .article h2 {
    font-size: 28px;
  }

  .bg2 {
    display: none;
  }

  .search {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px auto !important;
    margin: 40px;
  }

  .search2 .btn2 {
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    justify-self: left;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .search .btn2 {
    margin-left: 10px;
    padding: 6px;
  }

  .search2 {
    text-align: center;
  }

  .search2 {
    padding-bottom: 10px;
  }

  .partners {
    display: none;
  }

  .services-title-container {
    margin-bottom: 20px;
  }
  .services .icons img {
    width: 200px;
    text-align: center;
  }

  .contact {
    & form {
      width: 100%;
      margin-left: 10px;
    }
  }
}
