@use '_variables' as *;

.bg4-container-fluid {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 650px;
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 100px;

  & .partners-title {
    color: $bg-color;
    margin-top: 10px;
    text-align: center;
  }

  & .nav-link button.btn {
    text-align: center;
  }


& .safe {
  justify-content: center;
  justify-items: center;
}

& .safe-text {
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}
}

.empresas {
    text-align: center;
    justify-content: center;
    justify-items: center;
  
    & img.empresa {
      width: 160px;
      height: 80px;
      justify-content: center;
      justify-items: center;
      margin: 0 auto;
    }
  }
  
  .empresa {
    justify-content: center;
    justify-items: center;
  }
  
  .empresa6 {
    width: 120px;
    height: 70px;
    margin-top: 10px;
  }
  
  .empresa7 {
    width: 200px;
    padding-bottom: 30px;
  }
