@use '../styles/_variables' as *;

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  margin-top: 30px;

  & h2, h5 {
    color: $blue-dark-color;
    padding-top: 30px;
  }

& .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 86%;
  min-height: 500px;
  background: $bg-color;
  padding: 30px;
  border-radius: 50px;
  margin-top: 100px;
  box-shadow: 2px 2px 2px 2px rgba(91, 91, 93, 0.308);

  & .form-title {
    display: inline;
    flex-direction: row;
    color: $secondary-color;
    text-align: center;
    padding: 10px;
  }

  & label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 0px;
  }

  & input .form-control {
    border-radius: 5px;
    background: $light-color;
    font-size: 14px;
    margin: 0px;
    padding: 12px;
  }

  & .btn3 {
    text-align: center;
    background: transparent;
    color: #304F97;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border-color: #6f91e0;
  }

  & .signin a {
    text-align: center;
    color: #6C63FF;
  }

}

  & .image-container img {
      position: absolute;
      bottom: 0;
      margin-bottom: 100px;
  }


.go {
  display: flex;
  flex-direction: column;
  display: flex;
  z-index: 0;
  align-items: center;
}

.btn.send {
  z-index: 0;
  background: $primary-color;
 min-width: min-content;
}

}