@use '../styles/_variables' as *;

.article {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: $blue-dark-color;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 100px;
  
    & h1 {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
    }
  
    & h5 {
      text-align: center;
      color: $text-color;
      margin-bottom: 40px;
    }
  }
  
  .card {
    display: flex;
    min-width: 300px;
    height: 500px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 20px;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 3px 5px 5px rgb(194, 191, 191);
  
    & h3 {
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
    }
  
    & h6 {
      padding: 20px;
    }
  
    & img {
      display: flex;
      text-align: center;
      align-content: center;
      align-items: center;
      align-self: center;
      justify-content: center;
      justify-items: center;
      justify-self: center;
    }
  }
  
  .nContainer {
    background-color: $primary-color;
    color: $bg-color;
    width: 20%;
    border-radius: 100px;
    text-align: center;
    margin-left: 16px;
    margin-top: 10px;
    box-shadow: 3px 3px 3px rgb(194, 191, 191);
  }
  
