.avatar-img {
  display: flex;
  justify-content: center;

  float: center;
}

.about {
  text-align: center;

  & h2 {
    color: #304f97;
  }
}

.linkedin {
  display: flex;
  justify-content: right;
}
