@use '../styles/variables' as *;

.about {
  text-align: center;
  display: flex;
  flex-direction: column;

.avatar-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: center;
}

  & h2 {
    color: $blue-dark-color;
    text-align: center;
  }

  & p {
    color: $text-color;
    font-size: 18px;
    line-height: 30px;
  }
 
}

.we-are h5 {
  text-align: center;
}


.about-pyme .about-pyme-text h3 {
  text-align: left;
}

.linkedin {
 float: right;
}
