@use '../styles/variables' as *;


.landing-container-fluid {
margin: 0 auto;
}

.bg1img {
  // display: flex;
  background-image :url(../images/bg1.png);
  background-repeat: no-repeat;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index:70;
  width:72%;
  height:111vh;
  margin-top: -150px;
  // margin-right: -15px;
  border-radius: 0px 0px 60px 0px;
}

.bg2 {
  margin-top: -250px;
  margin-left: -225px;
  position: absolute;
  left: 0;
  z-index:70;
  left: 0;

}

 .home-container {
    background-color: $light-color;
  }


.img1 {
    // position: relative;
    //  float: left;
     z-index: 90;
     margin-top: 250px;
     margin-bottom: 70px;
     margin-left: 160px;
}

 .banner__title {
  margin-left: 0px;
   margin-top: 140px;
    color: $primary-color;
    z-index:90;
    color: $bg-color;
   
     & p {
    color: $bg-color;
    z-index:90;
    line-height: 20px;
    font-size: 24px;
}
 }
  
    .btn {
    display:flex;
    flex-direction: column;
    background: $blue-dark-color;
    z-index:90;
    width:fit-content;
    text-align:center;
    color: $light-color;
    border-radius: 50px;
    }
  
    .btn2 {
        background: $blue-dark-color;
        z-index:90;
        width:fit-content;
        text-align:center;
        color: $light-color;
        border-radius: 10px;
        border:0px;
        }
 
.search {
  display: flex;
  position: absolute;
  width: 98%;
  z-index: 100;
  padding: 20px;
  justify-items: center;
  justify-content: center;
    background: $bg-color;
    box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
    border-radius: 20px;
    // overflow: hidden;
    // margin-top: 200px;
 
      & .search1 {
        display: flex;
        flex-direction: row;
        align-items: center;

        .search2 {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
        .search input {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 0px;
      }
  }




.btn2 {
margin-left:10px;
padding: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-top: 260px;
  color: $blue-dark-color;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 100px;

  & h1 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  & h5 {
    text-align: center;
   color: $text-color;
   margin-bottom: 40px;
  }
}

.card {
  display: flex;
  min-width: 300px;
  height: 500px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 16px;
  box-shadow:3px 5px 5px rgb(194, 191, 191);

  & h2 {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }



  & h6 {
   padding: 20px;
  }

  & img {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }
}

.nContainer {
  background-color: $primary-color;
  color: $bg-color;
  width: 20%;
  border-radius: 100px;
  text-align: center;
  margin-left: 16px;
  margin-top: 10px;
  box-shadow:3px 3px 3px rgb(194, 191, 191);
}


.safe {
  display: flex;
  flex-direction: column;

& .safe-text {
  width: 100%;
  height: 100%;
  margin:50px auto;
  padding: 20px;
  justify-items: center;
  justify-content: center;
  text-align: left;
    background: $bg-color;
    box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
    border-radius: 20px;
    color: $text-color;
    justify-content: center;
}

}


@media (max-width:'400px') {

  .navbar {
    width:100%;
  }

  .bg1img {
    width: 100%;
    height: 650px;
    border-radius: 0px;
    padding-right: 10px;
    margin-top: -150px;
}
  
.img1 {
display: none;

    width: 100px;
    margin: 0px;
    text-align: center;
  }

  .banner__title {
   margin-top: 0px;
   text-align: right;
  }

  .banner__title h1 {
    font-size: 28px;
}

  .banner__title p {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
  }

  .banner__title .btn {
   float: right;
   margin-top: -20px;
  }



.article {
display: flex;
margin-top: 60px;

}

.article h2 {
  font-size: 28px;

}

.article {

}



 .bg2 {
  display: none;
}

.search {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px auto !important;
  // justify-items: left;
  // justify-content: space-around;

  & .search2 .btn2 {
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    justify-self: left;
  }
}
  .search1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom:30px;

    .btn2 {
      margin-left: 10px;
      padding: 6px;
    }

    .search2 {
     text-align: center;
}

.search2 {
  padding-bottom: 10px;
}


}

}
