@use '../styles/variables' as *;

 .home-container-fluid {
   display: flex;
    // background-color: $light-color;
    margin-top: 100px;
  }

    .bgimg {
      position: sticky;
      float:right;
      z-index:80;
      background-repeat: no-repeat;
      margin-top: -100px;
      width: 700px;
      height: 80vh;
 }

 .bg2 {
  float:left;
  z-index:80;
  background-repeat: no-repeat;
  margin-top: 500px;
  width: 300px;
  height:10vh;
}


.img1 {
    position: relative;
    float: left;
    z-index: 90;
    margin-top: 300px;
}

 .h1-cont {
   display: flex;
   flex-direction: column;
  margin-top: 200px;
    color: $primary-color;
    z-index:90;

     & p {
    // margin-left: 200px;
    color: $primary-color;
    z-index:90;
    line-height: 3px;
}
 }
  
    .btn {
    display:flex;
    flex-direction: column;
    background: $blue-dark-color;
    z-index:90;
    width:fit-content;
    text-align:center;
    color: $light-color;
    border-radius: 50px;
    }
  

    .btn2 {
        background: $blue-dark-color;
        z-index:90;
        width:fit-content;
        text-align:center;
        color: $light-color;
        border-radius: 10px;
        border:0px;
        }
 
.search {
  display: flex;
  width: 90%;
  height: 100%;
  margin:50px auto;
  padding: 20px;
  justify-items: center;
  justify-content: center;
  text-align: left;
    background: $bg-color;
    box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
    border-radius: 20px;
    color: $text-color;
    justify-content: space-around;
 
      & .search1 {
        display: flex;
        flex-direction: row;
        align-items: center;

        .search2 {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        
        .search input {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 0px;
        }
      
      }
  }

.btn2 {
margin-left:10px;
padding: 10px;
}


@media (max-width:'400px') {

  .navbar {
    width:100%;
  }

  .bgimg {
}
  
.img1 {
  display:none;
    // width: 100px;
    // position: relative;
    // margin-top: -20px;
  }

  .h1-cont {
   margin-top: 0px;
  }

  .h1-cont h1 {
    font-size: 24px;
  }

  .h1-cont p {
    font-size: 18px;
    line-height: 20px;
  }

 .bg2 {
  display: none;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  justify-items: left;
  justify-content: space-around;

  & .search2 .btn2 {
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px;
    justify-self: left;
  }
}
  .search1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom:30px;

    .btn2 {
      margin-left: 0px;
      padding: 6px;
    }

    .search2 {
     text-align: center;
}

.search2 {
  padding-bottom: 10px;
}


}

}
