@use 'variables' as *;

.navbar {
  background: $bg-color;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 1% auto;
  z-index: 100;
  justify-content: center;
  justify-items: center;

  box-shadow: 2px 2px 2px 2px rgba(64, 64, 66, 0.308);
  border-radius: 20px;

  & .nav-item .nav-link {
    color: $primary-color;
  }

  .menu m-auto .navbar-nav {
    justify-items: right !important;
  }

  & img {
    width: 150px;
    // margin-left:10px;
  }

  & .menu .m-auto {
    display: flex;
    justify-items: right;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  & .btn {
    background-color: $secondary-color;
    color: $light-color;
    width: 105px;
    text-align: center;
  }

  & .scroll-cont {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  .fixed {
    position: fixed;
    top: 0;
  }
}

@media (max-width: "600px") {
  .btn-group {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
  }

  .btn-group .btn {
    margin-right: 4px;
    text-align: center;
  }
}
