@use '../styles/variables' as *;


.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: left;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 40%;
    min-height: 500px;
    background: $bg-color;
    padding:30px;
    border-radius: 50px;

   & .form-title {
       display: inline;
       flex-direction: row;
        color: $secondary-color;
        text-align: center;
        padding: 20px;
   }

   label {
   font-size: 14px;
   text-align: left;
}

   input.form-control  {
          border-radius: 5px;
          background: $light-color;
          font-size: 14px;
          margin: 0px;
        }

    .user {
        display: inline;
    }

    & .btn {
        align-items: center;
        display: flex;
        text-align: center;
        background: $secondary-color;
        color: $bg-color;
        margin: 10px;
    }

}

.btn.send {
z-index: 80;
}